---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Type'
    value: worktype
  - label: 'People'
    value: page.agents
  - label: 'Start Date'
    value: page._dateStart
  - label: 'End Date'
    value: page._dateEnd
  - label: 'Description'
    value: page.description
  - label: 'Language'
    value: page.language
  - label: 'Location'
    value: page.location
  - label: 'Bibliography'
    value: page.bibliography
  - label: 'Tags'
    value: page._tags
  - label: 'Credit'
    value: page.credit
  - label: 'Citation'
    value: page.citation
  - label: 'Link to finding aid'
    value: page.finding-aid-link
    type: link
---
